<div class="card">
  <div class="title  header text-center">
    <div class="col-12 mt-3">
      <div class="row">
        <i class="fas fa-arrow-left  ml-2"></i>
        <div class="col-10 text-center">
          <h6 class="mb-3">ENSINO</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="tituloIdentificador mt-4 ml-3 text-left">
    <h6>Proposta pedagócia</h6>
  </div>
  <div id="texto" class="ml-3 mt-2">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel impedit
    eveniet fuga sit laborum. Perspiciatis nihil aliquid excepturi repellat,
    laudantium nobis necessitatibus inventore quisquam vitae debitis fugiat ad!
    Illo, rerum Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel
    impedit eveniet fuga sit laborum. Perspiciatis nihil aliquid excepturi
    repellat, laudantium nobis necessitatibus inventore quisquam vitae debitis
    fugiat ad! Illo, rerum?
  </div>
</div>
<div class="col-12">
  <div class="tituloIdentificador mt-4 ml-3 text-left">
    <h6>Proposta pedagócia</h6>
  </div>
  <div id="texto" class="ml-3 mb-3">
    <span id="nomeProfessor"><strong>Márcia Paim</strong></span
    ><br />
    <span id="materiaDada">Professora de português.</span>
  </div>
  <div id="texto" class="ml-3 mb-3">
    <span id="nomeProfessor"><strong>Débora Cruz</strong></span
    ><br />
    <span id="materiaDada">Professora de inglês.</span>
  </div>
  <div id="texto" class="ml-3 mb-3">
    <span id="nomeProfessor"><strong>Patrícia Cabral</strong></span
    ><br />
    <span id="materiaDada">Professora de matemática.</span>
  </div>
</div>
<div class="col-12">
  <div class="tituloIdentificador mt-4 ml-3 text-left">
    <h6>Calendário escolar</h6>
  </div>
  <div id="texto" class="ml-3">
    <span>01 - Lorem ipsum dolor</span><br />
    <span>02 - Lorem ipsum dolor</span><br />
    <span>03 - Lorem ipsum dolor</span><br />
  </div>
</div>
