<div class="card mb-2 " ngFor="">
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <img id="escolaImg" src="" alt="Imagem Escola." />
      </div>
      <div class="col-9 text-left">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
          reiciendis dicta, laboriosam atque sunt quibusdam ea voluptatibus
          facere aspernatur tempore inventore, esse ducimus et optio minus iusto
          commodi dolorem. Alias.
        </p>
      </div>
    </div>
  </div>
</div>
