<div class="card mt-5 mr-2 ml-2" *ngFor="let escola of escolas; let i = index">
  <div class="card-body" (click)="abrirDetalhes(escola.id)">
    <p class="badge info-categoria">{{ escola.category }}</p>
    <div class="row">
      <div class="col-8">
        <strong class="nomeEscola">{{ escola.name }}</strong>
        <p class="card-text subtitle">O que tem que você procura:</p>
        <div class="col-12">
          <div class="row">
            <div class="badge-solucao text-center">
              Segurança
            </div>
            <div class="badge-solucao text-center">
              Alimentação
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 text-right">
        <p>
          <strong>{{ escola.rating }}</strong> <br />
          <span>22 Avaliações</span> <br />8 Vagas
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-right">
        <span class="mr-2"><i class="fab fa-accessible-icon"></i></span>
        <span class="mr-2"><i class="fas fa-leaf"></i></span>
        <span class="mr-2"><i class="fas fa-chart-line"></i></span>
        <span class="mr-2"><i class="fas fa-file"></i></span>
      </div>
    </div>
  </div>
</div>
