<app-header></app-header>
<div class="col-12">
  <div class="tituloIdentificador mt-4 ml-3 text-left">
    <h6>Sala de recursos</h6>
  </div>
  <div id="texto" class="ml-3">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel impedit
    eveniet fuga sit laborum. Perspiciatis nihil aliquid excepturi repellat,
    laudantium nobis necessitatibus inventore quisquam vitae debitis fugiat ad!
    Illo, rerum?
  </div>
</div>
<div class="col-12">
  <div class="tituloIdentificador mt-4 ml-3 text-left">
    <h6>Tecnologia assistiva</h6>
  </div>
  <div id="texto" class="ml-3">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel impedit
    eveniet fuga sit laborum. Perspiciatis nihil aliquid excepturi repellat,
    laudantium nobis necessitatibus inventore quisquam vitae debitis fugiat ad!
    Illo, rerum?
  </div>
</div>
<div class="col-12">
  <div class="tituloIdentificador mt-4 ml-3 text-left">
    <h6>Acompanhamento</h6>
  </div>
  <div id="texto" class="ml-3">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel impedit
    eveniet fuga sit laborum. Perspiciatis nihil aliquid excepturi repellat,
    laudantium nobis necessitatibus inventore quisquam vitae debitis fugiat ad!
    Illo, rerum?
  </div>
</div>
