@font-face{
    font-family: 'roboto-bold';
    src: url(../../../assets/font/roboto/Roboto-Bold.ttf);

}
agm-map {
    height: 150px;
  }

  .mapa {
      margin: 10px;
  }
  .title{
    font-family: 'roboto-bold';
    font-size: 16px;
      background-color: #005FC3;
      color: white !important;
  }
  