<div class="card">
  <div class="title  header text-center">
    <div class="col-12 mt-3">
      <div class="row">
        <i class="fas fa-arrow-left  ml-2"></i>
        <div class="col-10 text-center">
          <h6 class="mb-3">{{ escola.name }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <img
    class="card-img-top"
    src="../../../assets/img/colegio.jpg"
    alt="Card image cap"
  />
  <div class="row">
    <div class="col-12">
      <div class="circulo rounded-circle">
        <h3 class="text-center nota">4,2</h3>
      </div>
    </div>
  </div>
  <div class="card-cinza">
    <div class="col-12">
      <div id="contatos">
        <span class="mt-3"><strong>Telefone:</strong> (51) 3336-1893</span
        ><br />
        <span class="mt-3">
          <strong>Endereço:</strong> R. Frei Clemente, 150, São José Porto
          Alegre - RS 91520-210
        </span>
      </div>
    </div>
  </div>
  <div class="col-11 ml-4 mt-3 mb-3">
    <div class="card">
      <div class="title  header text-center">
        <div class="col-12 mt-3">
          <div class="row">
            <div class="col-9 text-center">
              <h6 class="mb-3">DESEMPENHO</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="circulo-esquerda rounded-circle">
            <h3 class="text-center nota"><i class="fas fa-chart-line"></i></h3>
          </div>
        </div>
      </div>
      <div id="infos">
        <ul>
          <li>
            Notas Avaliativas
          </li>
          <li>
            Números de alunos
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-11 ml-4 mt-3 mb-3">
    <div class="card">
      <div class="title  header text-center">
        <div class="col-12 mt-3">
          <div class="row">
            <div class="col-9 text-center">
              <h6 class="mb-3">ENSINO</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="circulo-esquerda rounded-circle">
            <h3 class="text-center nota">
              <i class="fas fa-book"></i>
            </h3>
          </div>
        </div>
      </div>
      <div id="infos">
        <ul>
          <li>
            Notas Avaliativas
          </li>
          <li>
            Números de alunos
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-11 ml-4 mt-3 mb-3">
    <div class="card">
      <div class="title  header text-center">
        <div class="col-12 mt-3">
          <div class="row">
            <div class="col-9 text-center">
              <h6 class="mb-3">ACESSIBILIDADE</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="circulo-esquerda rounded-circle">
            <h3 class="text-center nota">
              <i class="fab fa-accessible-icon"></i>
            </h3>
          </div>
        </div>
      </div>
      <div id="infos">
        <ul>
          <li>
            Notas Avaliativas
          </li>
          <li>
            Números de alunos
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-11 ml-4 mt-3 mb-3">
    <div class="card">
      <div class="title  header text-center">
        <div class="col-12 mt-3">
          <div class="row">
            <div class="col-9 text-center">
              <h6 class="mb-3">AVALIAÇÕES</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="circulo-esquerda rounded-circle">
            <h3 class="text-center nota">
              <i class="fas fa-heart"></i>
            </h3>
          </div>
        </div>
      </div>
      <div id="infos">
        <ul>
          <li>
            Notas Avaliativas
          </li>
          <li>
            Números de alunos
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-11 ml-4 mt-3 mb-3">
    <div class="card">
      <div class="title  header text-center">
        <div class="col-12 mt-3">
          <div class="row">
            <div class="col-9 text-center">
              <h6 class="mb-3">MATRICULAR</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="circulo-esquerda rounded-circle">
            <h3 class="text-center nota">
              <i class="far fa-copy"></i>
            </h3>
          </div>
        </div>
      </div>
      <div id="infos">
        <ul>
          <li>
            Documentos que preciso.
          </li>
          <li>
            Quem procurar.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="row">
  <div class="col-12 text-center bg-light mb-2">
    <h2 class="titulo-upper pt-2"></h2>
  </div>
</div>
<div class="card mb-3">
  <img
    class="card-img-top"
    src="../../../assets/img/colegio.jpg"
    alt="Card image cap"
  />
  <div class="row">
    <div class="col-12">
      <div class="circulo rounded-circle">
        <h3 class="text-center nota">{{ escola.rating }}</h3>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{ escola.description }}</p>
    <div
      class="card border-secondary mb-3 mr-2 ml-2"
      *ngFor="let detalhe of detalhes; let i = index"
    >
      <div class="card-header titulo-upper">
        <span class="mr-3 icone-interno">
          <i
            class="fas fa-chart-line"
            *ngIf="detalhe.category === 'rating'"
          ></i>
          <i
            class="fas fa-chart-line"
            *ngIf="detalhe.category === 'performance'"
          ></i>
          <i
            class="fab fa-accessible-icon"
            *ngIf="detalhe.category === 'accessibility'"
          ></i>
          <i class="fas fa-leaf" *ngIf="detalhe.category === 'teaching'"></i>
        </span>
        {{ detalhe.name }}
      </div>
      <div class="card-body text-secondary">
        <div class="card-text">
          <ul>
            <li>{{ detalhe.description }}</li>
          </ul>
        </div>
        <button class="btn btn-secondary btn-sm float-right">Saiba mais</button>
      </div>
    </div>
  </div>
</div> -->
</div>
