<app-header></app-header>
<div class="col-12">
  <div class="row ml-3 mr-3 mt-4">
    <div class="col-6 azulClaro">
      <p class="text-center">
        <span id="indicador">
          5
        </span>
        <span id="complemento">
          Professores com mestrado
        </span>
      </p>
    </div>
    <div class="col-6 azulEscuro">
      <p class="text-center">
        <span id="indicador">
          20
        </span>
        <span id="complemento">
          Vagas disponíveis
        </span>
      </p>
    </div>
  </div>
  <div class="row ml-3 mr-3">
    <div class="col-6 azulEscuro">
      <p class="text-center">
        <span id="indicador">
          3
        </span>
        <span id="complemento">
          Atividades extracurriculares
        </span>
      </p>
    </div>
    <div class="col-6 azulClaro">
      <p class="text-center">
        <span id="indicador">
          20
        </span>
        <span id="complemento">
          Alunos matriculados
        </span>
      </p>
    </div>
  </div>
  <div class="row ml-3 mr-3">
    <div class="col-6 azulClaro">
      <p class="text-center">
        <span id="indicador">
          4.5
        </span>
        <span id="complemento">
          IDEB
        </span>
      </p>
    </div>
    <div class="col-6 azulEscuro">
      <p class="text-center">
        <span id="indicador">
          5°
        </span>
        <span id="complemento">
          Melhor do país
        </span>
      </p>
    </div>
  </div>
  <div class="col-12">
    <div class="tituloIdentificador mt-4 ml-3 text-left">
      <h6>Proposta pedagócia</h6>
    </div>
    <div id="texto" class="ml-3 mt-2">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel impedit
      eveniet fuga sit laborum. Perspiciatis nihil aliquid excepturi repellat,
      laudantium nobis necessitatibus inventore quisquam vitae debitis fugiat
      ad! Illo, rerum Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Vel impedit eveniet fuga sit laborum. Perspiciatis nihil aliquid excepturi
      repellat, laudantium nobis necessitatibus inventore quisquam vitae debitis
      fugiat ad! Illo, rerum?
    </div>
  </div>
</div>
