#spambarraPesquisa {
    width: 70%;
  }
  #linkPular {
    margin-right: 10%;
    font-size: 16px;
    text-decoration: underline;
    color: #008C75;
  }
  #barraPesquisa{
    margin-left: 40px !important;
    border-radius: 30px;
    border: 1px solid #202020;
    font: bold;
    color: #202020;
  }
  #rowCabecalho {
    margin: 0 !important;
  }