<div id="cabecalhoChat" class="mt-5">
    <div class="row" id="rowCabecalho">
      <div class="input-group" id="spambarraPesquisa">
        <div class="input-group-prepend"></div>
        <input
          id="barraPesquisa"
          type="text"
          class="form-control"
          placeholder="Buscar"
          aria-label="Buscar"
          aria-describedby="addon-wrapping"
        />
      </div>
      <div id="linkPular" class="ml-auto mt-2">
        <a (click)="salvaPesquisaParcial()">Pular</a>
      </div>
    </div>
  </div>