<div class="card" id="cardBody">
  <div class="card-body mt-5 text-center">
    <div class="col-md-6 mt-4 mt-5">
      <div class="title mb-5">
      <img src="../../assets/img/LOGO1.png" alt="logo da empresa">
      </div>
    </div>
    <div id="body">
      <div id="saudacao" class="mb-3 mt-5">
        <h4>OLÁ, SEJA BEM VINDO !</h4>
      </div>
      <div class="col-12">

        <button type="button" id="btn" class="mt-5" (click)="direcionarEscola()">COMEÇAR</button>
      </div>
    </div>
  </div>
</div>
