<div id="bodyChat mt-2">
    <div class="row mt-4 ml-2">
      <div class="col-2">
        <div id="imgChatBot">
          <img
            id="iconAtendente"
            src="../../assets/img/user-icon.png"
            alt="Imagem referente ao atendente."
          />
        </div>
      </div>
      <div class="col-10">
        <div class="card-cinza">
          <p>
            Olá, somos o app EducaJuntos. Nosso principal objetivo é facilitar a
            abertura de sua empresa.
          </p>
        </div>
      </div>
    </div>
  </div>